# Ignorar arquivos do macOS
.DS_Store

# Ignorar arquivos de ambiente virtual
venv/
*.pyc
__pycache__/

# Ignorar arquivos de dados
data/dados.xml
data/dados_corrigido.xml

# Ignorar configurações de IDE
.idea/
*.iml